<!--Fill the code -->
<!-- <app-tekgainbar></app-tekgainbar> -->
<!-- <mat-toolbar class="bar">
    <span>TekGain</span>
</mat-toolbar> -->
<!-- <mat-toolbar class="toolbar">
    <div class="d-grid gap-2 d-md-flex justify-content-end  btn-text-light ">
      <a routerLink="/course" mat-raised-button class="btn btn-light" type="button" float="right">Course</a>
      <a routerLink="/admission" mat-raised-button class="btn btn-light" type="button" float="right">Admission</a>
      <a routerLink="/associate" mat-raised-button class="btn btn-light" type="button" float="right">Associate</a>
    </div>
  </mat-toolbar> -->

<!-- <app-navbar></app-navbar> -->
<router-outlet></router-outlet>
<!-- <div class="menu">
    <button routerLink="/course"><span class="course">Course</span></button>
    <button routerLink="/admission"><span class="course">Admission</span></button>
    <button routerLink="/associate"><span class="course">Associate</span></button>
    <router-outlet></router-outlet>
</div> -->
