<mat-toolbar class="bar">
    <span>TekGain</span>
    <div class="signoutb">
      <button mat-raised-button color="#000000" (click)="logout()">Signout</button>
    </div>
  </mat-toolbar>
  <mat-toolbar class="toolbar">
    <div class="d-grid gap-2 d-md-flex justify-content-end  btn-text-light ">
      <a routerLink="/course" mat-raised-button class="btn btn-light" type="button" float="right">Course</a>
      <a routerLink="/admission" mat-raised-button class="btn btn-light" type="button" float="right">Admission</a>
      <a routerLink="/associate" mat-raised-button class="btn btn-light" type="button" float="right">Associate</a>
    </div>
  </mat-toolbar>
  <h1 class="payment">Payment Done Successfully</h1>